//==========Media===========
@media (min-width: 2000.98px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 1930.98px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 901px) {
  .d__none {
    display: none;
  }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 11px;
  }
  html, body {
    overflow-x: auto;
  }

  //body {
  //  &:before {
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    width: 100%;
  //    height: 100%;
  //    content: 'Hostinger | Server Error';
  //    font-size: 2.5rem;
  //    text-align: center;
  //    vertical-align: center;
  //  }
  //}

  //.home {
  //  display: none;
  //}

  .container {
    padding: 0 1.5rem;
  }

  .header {
    .navbar {
      padding: 0 1.5rem;
      &__logo {
        width: 14rem;
      }
      &__nav {
        display: none;
      }
      &__icons {
        .telegramIcon,
        .instagramIcon,
        .facebookicon {
          display: none;
        }
        &-language {
          width: 4rem;
          height: 4rem;
          .flag {
            width: 100%;
            max-width: 3rem;
          }
        }
      }
      &__right {
        flex-direction: row-reverse;
        gap: 1.2rem;
      }
      &__number {
        &-num {
          display: none;
        }
      }
    }
    .mobile {
      &__menu {
        display: flex;
        @include flexCenter();
        position: relative;
        background-color: #F2F2F2;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        svg {
          display: block;
          width: 100%;
          height: 100%;
          max-width: 2.4rem;
        }
      }
    }
  }

  .sidebar {
    display: block;
    width: 82%;
    background: #162850;
    position: fixed;
    z-index: 99999999;
    padding: 3.2rem 1.5rem;
    border-radius: 0 0 12.7rem 0;
    &_closeicon {
      position: absolute;
      font-size: 2.4rem;
      color: white;
      top: 3.2rem;
      cursor: pointer;
    }
    &_nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 4.6rem;
      margin-top: 6.9rem;
      gap: 3rem;
    }

    &_nav > li {
      font-size: 1.8rem;
      &:hover {
        color: #aaa;
      }
    }

    &_nav > li > a {
      display: block;
      color: $secondaryColor;
      &:hover {
        color: #aaa;
      }
    }

    &_number {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 30px;
      font-size: 15px;

      &_icon {
        font-size: 1.8rem;
        color: white;
      }
    }

    &_number > a:last-of-type {
      color: $secondaryColor;
      font-weight: 600;
    }

    &_icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .telegramIcon,
      .instagramIcon,
      .facebookicon {
        background: white !important;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        &:hover {
          transition: all 0.4s ease;
          opacity: 1;
        }

        &_icon {
          color: $primaryColor;
          opacity: 0.5;
          width: 100%;
          max-width: 2.4rem;
        }
        @include center()
      }

    }

  }

  .hero {
    &__top {
      flex-direction: column-reverse;
      align-items: unset;
      &-left {
        width: 100%;
        padding-left: 0;
        padding: 0 1.5rem;
        h1 {
          font-size: 3.2rem;
          margin-bottom: 2.5rem;
        }
        p {
          font-size: 1.8rem;
        }
        button {
          width: 100%;
          font-size: 1.6rem;
          padding: 2rem;
          border-radius: 7rem;
          margin-top: 2.5rem;
        }
      }
      &-right {
        width: 100%;
      }
    }
    &__bottom {
      display: block;
      padding: 0 1.5rem;
      padding-top: 5rem;
      ul  {
        flex-direction: column;
        align-items: flex-start;
        div {
          width: 100%;
          align-items: center;
          li {
            font-size: 2.2rem;
          }
        }
      }
      &-contact {
        width: 5rem;
        height: 5rem;
        right: 1.5rem;
      }
    }
  }

  .about {
    position: relative;
    flex-direction: column;
    padding: 6rem 1.5rem;
    gap: 4.7rem;
    &__text {
      &-header {
        h2 {
          font-size: 3.2rem;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 1.8rem;
          margin-bottom: 2rem;
        }
      }
      &-footer {
        gap: 0;
        li {
          width: 47.5%;
          justify-content: flex-start;
          position: relative;
          &:first-child,
          &:nth-child(2) {
            margin-bottom: 4rem;
          }
          &:nth-child(2) {
            .about__text-footer--line {
              display: none;
            }
          }
        }
        &--top {
          span {
            font-size: 4rem;
          }
          p {
            font-size: 1.8rem;
          }
        }
        &--line {
          position: absolute;
          right: 0;
          top: 0;
          margin-left: 0;
          height: 100%;
        }
      }
    }
    &__right {

      img {
        width: 100%;
        max-width: 100%;
        height: 37rem;
        object-fit: cover;
        border-radius: 3rem;
      }
    }
  }

  .services {
    margin-top: 10rem;
    &__title {
      h3 {
        font-size: 3.2rem;
      }
    }
    &__content {
      &-item {
        flex-direction: column;
        &--article {
          font-size: 1.4rem;
          padding: 1rem 1.3rem;
          border-radius: .5rem;
          left: 1.5rem;
        }
        &--left {
          width: 100%;
          padding: 0 1.5rem;
          padding-top: 6rem;
          padding-bottom: 5.5rem;
          &__header {
            h3 {
              font-size: 3rem;
            }
            p {
              font-size: 1.8rem;
            }
            &_icons {
              flex-direction: column;
              align-items: flex-start;
              svg {
                max-width: 4.6rem;
              }
              span {
                gap: 2rem ;
                margin-left: 0;
                font-size: 2rem;
                &:first-child {
                  margin-bottom: 2.4rem;
                }
              }
            }
          }
          button {
            width: 100%;
            font-size: 1.6rem;
            border-radius: 7rem;
            padding: 2rem;
          }
        }
        &--right {
          width: 100%;
          max-width: 100%;
          height: 29rem;
        }
      }
    }
  }

  .advantages {
    padding: 5rem 4.5rem;
    border-radius: 3rem;
    &__top {
      h2 {
        text-align: center;
        font-size: 3.2rem;
      }
    }
    &__bottom {
      margin-top: 5.4rem;
      gap: 3rem;
      &-item {
        max-width: 100%;
        h4 {
          font-size: 6rem;
        }
        img {
          height: 23.8rem;
        }
        p {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        .pocket {
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .works {
    &_top {
      h2 {
        font-size: 3.2rem;
      }
      &--arrows {
        display: none;
      }
    }
    &__bottom {
      .container {
        padding: 0;
      }
      .swiper {
        &-slide {
          padding: 4rem 1.5rem;
          margin-right: 2rem !important;
        }
      }
      &--arrows {
        display: flex;
        justify-content: center;
        span {
          width: 5rem;
          height: 5rem;
          font-size: 2rem;
        }
      }
      &-item {
        border-radius: 3rem;
        padding: 1rem;
        padding-bottom: 2.6rem;
        &__title {
          margin-top: 3rem;
          h4 {
            font-size: 2.2rem;
          }
        }
        &-info {
          justify-content: flex-start;
          gap: 5rem;
          &_item {
            span {
              font-size: 1.6rem;
            }
            div {
              div {
                width: 4.6rem;
                height: 4.6rem;
              }
              span {
                font-size: 2rem;
              }
            }
          }
        }
        .image-gallery-slide .image-gallery-image {
          height: 25.7rem;
          border-radius: 3rem;
        }
        .image-gallery-thumbnails {
          padding-top: 2rem;
        }
        .image-gallery-thumbnail-image {
          height: 6.6rem!important;
          border-radius: 1.5rem;
        }
        .image-gallery-left-nav, .image-gallery-right-nav  {
          width: 4.8rem;
          height: 4.8rem;
        }
        .zoomIcon {
          opacity: 1;
          width: 4.8rem;
          height: 4.8rem;
          top: 37%;
        }
      }
      &-pocket {
        padding: 0;
      }
    }
  }

  .stocks {
    margin-top: 10rem;
    &_top {
      h1 {
        font-size: 3.2rem;
      }
      &--arrows {
        span {
          width: 5rem;
          height: 5rem;
          font-size: 2rem;
        }
      }
    }
    &_bottom {
      .container {
        padding: 0;
      }
      &--item {
        padding: 1.5rem;
        border-radius: 4.2rem;
        img {
          height: 38.6rem;
          border-radius: 3rem;
          margin-bottom: 1.4rem;
        }
        &__date {
          margin-bottom: .5rem;
          p {
            font-size: 1.6rem;
          }
        }
        &__text {
          padding: 0;
          padding-bottom: 2rem;
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .faq {
    &__top {
      margin-bottom: 4rem;
    }
    &_bottom {
      &-column {
        width: 100%;
      }
      &--item {
        width: 100%;
        &_top {
          padding: 1.1rem;
          padding-left: 2rem;
          p {
            font-size: 1.6rem;
          }
          span {
            width: 4rem;
            height: 4rem;
          }
        }
        &_body {
          margin-top: 1rem;
          padding: 1.7rem 1.1rem 1rem 2rem;
          font-size: 1.6rem;
        }
      }
    }
  }


  .reviews {
    &_title {
      margin-bottom: 6rem;
      h1 {
        font-size: 3.2rem;
      }
    }
    .swiper {
      &-slide {
        margin-left: 1rem;
        margin-right: 1rem!important;
        &-active {
          .reviews {
            &__item {
              border-color: #162850;
            }
          }
        }
      }
    }
    &__item {
      border-radius: 3rem;
      padding: 2rem;
      min-height: 23rem;
      &-content {
        h3 {
          font-size: 2.4rem;
          margin-bottom: 2.6rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
    &__bottom {
      padding: 0 1.5rem;
    }
    &__pagination {
      justify-content: flex-end;
      padding-right: 4rem;
      .swiper-pagination-bullet {
        &:first-child {
          margin-left: 0!important;
        }
      }
    }
    &__arrow {
      gap: 1rem;
      span {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
      }
    }
  }

  .contact {
    padding: 0 1.5rem;
    margin-top: 10rem;
    &__container {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      padding: 5rem 2.5rem;
      &-top {
        h2 {
          font-size: 2.8rem;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
      &-bottom {
        flex-direction: column;
        align-items: flex-start;
        .form {
          &__group {
            max-width: 90%;
            &:first-child {
              margin-bottom: 1rem;
            }
          }
          &__field {
            padding: 2rem;
            font-size: 1.8rem;
          }
          &__label {
            top: 2rem;
            font-size: 1.8rem;
          }
          &__button {
            width: 100%;
            margin-top: 5rem;
            padding: 1.9rem;
            border-radius: 7rem;
            font-size: 1.8rem;
          }
        }
        .form__field:placeholder-shown ~ .form__label {
          top: 4rem;
          left: 2rem;
          font-size: 1.8rem;
        }
        .form__field:focus ~ .form__label {
          top: 1rem;
          font-size: 1.2rem;
        }
      }
    }
    &__right {
      width: 100%;
      max-width: 100%;
    }
  }

  .customModal {
    flex-direction: column;
    justify-content: flex-end;
    &_content {
      width: 100%;
    }
  }

  .feedback {
    width: 100%;
    &_close {
      width: 5rem;
      height: 5rem;
      svg {
        width: 2.2rem;
      }
    }
    &_content {
      max-width: 100%;
      border-radius: 3rem;
      padding: 4.2rem 2em;
    }
    &_header {
      h1 {
        font-size: 3.6rem;
        margin-bottom: 4.4rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
    &_form {
      margin-top: 5.4rem;
      margin-bottom: 1.6rem;
      gap: 2rem;
      input {
        padding: 2.5rem;
        border-radius: 10rem;
        font-size: 1.6rem;
      }
      button {
        font-size: 1.8rem;
        padding: 2.6rem;
        border-radius: 10rem;
      }
    }
    &__footer {
      font-size: 1.2rem;
    }
  }

  .footer {
    position: relative;
    padding: 6rem 1.5rem;
    flex-wrap: wrap;
    margin-top: 10rem;
    -webkit-background-size: unset;
    background-size: unset;
    &__left {
      width: 100%;
      margin-bottom: 4.6rem;
      button {
        display: none;
      }
    }
    &__right {
      width: 100%;
      padding-right: 0;
      &-columns {
        flex-wrap: wrap;
        gap: 2.7rem;
      }
      ul {
        max-width: 46%;
        gap: 2rem;
        li {
          a {
            font-size: 1.8rem;
          }
        }
      }
      button {
        display: block;
        background-color: #FFFFFF;
        color: #162850;
        font-size: 1.8rem;
        border-radius: 7rem;
        padding: 1.4rem;
        width: 100%;
      }
      &-address {
        svg {
          display: block;
          width: 3.2rem;
          height: auto;
        }
        span {
          font-size: 1.8rem;
        }
      }
      &-icons {
        gap: 1rem;
        margin-top: 2.4rem;
        .telegramIcon,
        .instagramIcon,
        .facebookicon {
          width: 5rem;
          height: 5rem;
          &_icon {
            max-width: 2.4rem;
          }
        }
      }
    }
    &__column {
      width: 100%;
    }
    &__number {
      width: 100%;
      gap: 1rem;
      margin-bottom: 2.2rem;
      &-icon {
        font-size: 3.2rem;
      }
      span {
        font-size: 2.4rem;
      }
    }
    &__bottom {
      padding: 2rem 1.5rem;
    }
  }

  .videoSection {
    width: 11rem;
    height: 15rem;
    border-radius: 1.9rem;
    left: 1.5rem;
    &_controls {
      span {
        width: 3rem;
        height: 3rem;
        svg {
          width: 100%;
          height: auto;
          max-width: 50%;
        }
      }
    }
    video {
      border-radius: 1.9rem;
    }
    &.active_videoSection {
      width: 25rem;
      height: 35rem;
    }
  }


}
@media (min-width: 500.98px) {
  .desc {
    &-off {
      display: none;
    }
  }
}
@media (max-width: 500.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 325.98px) {
  :root {
    font-size: 9px;
  }
}

