@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

// ----- colors ------

$mainBg: rgba(22, 40, 80, 0.9);
$secondarybg: #f2f4fa;
$primaryColor: #162850;
$secondaryColor: #ffff;
$modelBg: #455373;

:root {
  font-size: 20px;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.home {
  position: relative;
}

// ---------- mixins -------------

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin arrows {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1.5rem;
  span {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #162850 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    color: #162850;
  }

  span:hover {
    background: #162850;
    color: #fff;
  }
}

@mixin trans {
  transition: 0.6s all;
}

@mixin btn {
  margin-top: 2.5rem;
  padding: 1.2rem 3.7rem;
  background: $primaryColor;
  font-size: 0.8rem;
  color: $secondaryColor;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

// ---------- basic css ------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
  padding: unset;
  margin: 0;
  display: block;
}

a {
  transition: 0.3s all;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  @include trans();
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 5px;
}

.container {
  padding: 0 10.9rem;
}

.section-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
}

@import "peloader";

// ------------- header --------------

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $mainBg;
  padding: 1.4rem 0.4rem;
  border-radius: 0 0 1.75rem 1.75rem;
  z-index: 9;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10.9rem;

    &__logo {
      margin-right: 3rem;
      width: 8.25rem;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__nav {
      display: flex;
      align-items: center;
      gap: 3rem;

      &:hover {
        color: #aaa;
      }

      li {
        a {
          font-size: 1rem;
          color: $secondaryColor;
        }
      }
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      &-language {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;

        .flag {
          display: block;
          width: 100%;
          max-width: 1.6rem;
          height: auto;
        }
      }

      &-language > span {
        cursor: pointer;
      }
    }

    .telegramIcon,
    .instagramIcon,
    .facebookicon {
      background: white !important;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      @include center();

      :hover {
        transition: all 0.4s ease;
        opacity: 1;
      }

      &__icon {
        color: $primaryColor;
        opacity: 0.5;
        display: block;
        width: 100%;
        max-width: 1.2rem;
        height: auto;
      }
    }

    &__number {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-left: 2.5rem;

      &-icon {
        color: $secondaryColor;
        font-size: 22px;
      }

      &-num {
        color: #ffffff;
        font-size: 0.9rem;
      }
    }
  }
}

.navActive {
  font-weight: bold;
}

.mobile__menu {
  display: none;
}

// ----- custom modal ------

.customModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(22, 40, 80, 0.7);
  z-index: 999999;
  @include center();
}

.customModal_content {
  border-radius: 1rem;
  position: relative;
  z-index: 99999;
}

.close_icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 25px;
  cursor: pointer;
}

// lanaguage modal

.languageModal {
  padding: 3rem 2.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: white;
  border-radius: 1rem;

  span {
    cursor: pointer;
    flex-direction: column;
    gap: 0.4rem;
    @include center();
    transition: 0.3s all;
    font-size: 1.5rem;

    div {
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      background-color: #f2f2f2;
      transition: 0.3s all;
      border-radius: 50%;
      @include flexCenter;

      svg {
        position: relative;
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &:hover {
      div {
        background-color: #162850;
      }
    }
  }
}

.feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_close {
    font-size: 1.9rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
    @include center();
    transition: 0.3s all;

    svg {
      display: block;
      width: 1.2rem;
      height: auto;
      fill: #162850;
      transition: 0.3s all;
    }

    &:hover {
      background-color: #162850;

      svg {
        fill: #ffffff;
      }
    }
  }

  &_content {
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 23.7rem;
    border-radius: 1rem;
    flex-direction: column;
    @include center();
  }

  &_header {
    width: 100%;
    flex-direction: column;
    text-align: center;
    @include center();

    h1 {
      font-size: 1.8rem;
      color: $primaryColor;
      font-weight: 600;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 0.7rem;
      line-height: 120%;
      color: $primaryColor;
    }
  }

  &_form {
    margin-top: 3.6rem;
    display: flex;
    width: 100%;
    margin-bottom: 0.8rem;
    flex-direction: column;
    gap: 1rem;

    input {
      width: 100%;
      height: 100%;
      padding: 1rem;
      border: 1px solid rgba(17, 17, 17, 0.15);
      text-align: center;
      transition: border 0.3s ease;
      border-radius: 30px;
      outline: none;

      &:hover {
        border: 1px solid #4577ed;
      }

      &:active {
        border: 1px solid #386de9;
      }

      &:focus {
        border: 1px solid #386de9;
      }
    }

    button {
      @include btn();
      margin-top: 0;
    }
  }

  &__footer {
    text-align: center;
    font-size: 0.7rem;
    opacity: 0.8;
    max-width: 80%;
  }
}

.loading {
  width: 124px;
  height: 124px;
  margin: 30px 0px;
}

.loading svg {
  display: block;
  width: 100%;
  height: 100%;
}

.circle {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  animation: circle_4 2s ease-in-out forwards;
}

.check {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation: check_4 0.2s 2s ease-in-out forwards;
}

@keyframes circle_4 {
  0% {
    stroke-dashoffset: 380;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes check_4 {
  0% {
    stroke-dashoffset: 45;
  }

  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes hoveredText {
  0% {
    opacity: 0;
    transition: all 0.1s;
  }
  100% {
    opacity: 1;
    transition: all 0.1s;
  }
}
// mobile sidebar

.sidebar {
  display: none;
}

// ----- hero --------

.hero {
  min-height: 100vh;
  padding-bottom: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;

    &-left {
      width: 55%;
      padding-left: 10.9rem;

      &-texts {
        width: 100% !important;
        border: 1px solid white;
      }

      h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 123.469%;
        color: $primaryColor;
        margin-bottom: 1.1rem;
      }

      p {
        font-size: 0.9rem;
        animation-name: hoveredText;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        position: relative;
        img {
          width: 4rem;
          height: 4rem;
          display: inline;
          position: absolute;
          left: 18rem;
          bottom: -4rem;
          z-index: 9999;
          transform: rotate(90deg);
        }
      }

      button {
        padding: 1rem 1.5rem;
        background: #162850;
        margin-top: 2rem;
        font-weight: 300;
        color: $secondaryColor;
        border-radius: 3.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        transition: all 0.3s linear;

        &:hover {
          background: #22469c !important;
        }
      }
    }

    &-right {
      width: 55%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__bottom {
    padding: 0 10.9rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    ul {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      gap: 2.5rem;

      div {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        width: 21%;

        svg {
          display: block;
          width: 100%;
          height: auto;
          max-width: 1.5rem;
        }

        li {
          width: 100%;
          font-size: 1rem;
        }
      }
    }

    &-contact {
      position: fixed;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
      right: 4.2rem;
      bottom: 6rem;
      background: white;
      z-index: 999999999999;
      @include center();

      svg {
        display: block;
        width: 100%;
        height: auto;
        max-width: 1.2rem;
      }
    }
  }
}

.contactAnim {
  transition: all 0.5s linear;
  animation-name: contact;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

@keyframes contact {
  100% {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 20px;
  }
}

// ---- about ---------
.about {
  display: flex;
  padding: 7.7rem 10.9rem;
  background: #162850;
  gap: 2rem;
  background-image: url("../assets/images/bg/about_blueprint.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-between;

  &__text {
    width: 100%;

    &-header {
      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        color: $secondaryColor;
        margin-bottom: 1.8rem;
      }

      p {
        color: $secondaryColor;
        margin-bottom: 1.5rem;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 130%;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      flex-wrap: wrap;

      &--top > span {
        font-size: 2.4rem;
        font-weight: 400;
        color: $secondaryColor;
      }

      &--top > p {
        font-weight: 400;
        color: $secondaryColor;
        margin-top: 1rem;
        font-size: 0.9rem;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &--line {
        width: 1px;
        height: 4.5rem;
        opacity: 0.5;
        background: linear-gradient(240deg, transparent, white);
        margin-left: 1rem;
      }
    }
  }

  &__right {
    width: 100%;
    display: block;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .remove {
    opacity: 0;
  }
}

// -------- services ---------

.services {
  margin-top: 7rem;
  position: relative;

  &__title {
    width: 100%;
    margin-bottom: 4.75rem;
    @include center();

    h3 {
      letter-spacing: 1.2px;
      font-weight: 400;
      font-size: 2.5rem;
    }
  }

  &__content {
    margin: 0 auto;

    &-item {
      &:first-of-type {
        margin-top: 0;
      }

      width: 100%;
      background-color: #f2f4fa;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 3.85rem;

      &--article {
        background: #162850;
        position: absolute;
        padding: 0.5rem 1rem;
        color: $secondaryColor;
        border-radius: 0.2rem;
        left: 10.9rem;
        top: -1.15rem;
      }

      &--left {
        padding-top: 5rem;
        padding-left: 10.9rem;
        width: 40%;

        &__header {
          h3 {
            color: $primaryColor;
            font-weight: 500;
            margin-bottom: 2.5rem;
            font-size: 1.7rem;
          }

          p {
            font-size: 1rem;
            line-height: 140%;
            color: $primaryColor;
          }

          &_icons {
            display: flex;
            align-items: center;
            margin-top: 3.5rem;

            svg {
              display: block;
              width: 100%;
              max-width: 2.3rem;
              height: auto;
            }

            span {
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-left: 20px;
              font-size: 1rem;
              color: $primaryColor;

              &:first-of-type {
                margin: 0;
              }
            }
          }
        }

        button {
          font-size: 1rem;
          @include btn();

          &:hover {
            background: #22469c;
          }
        }
      }

      &--right {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 50%;
        object-fit: cover;
      }
    }
  }
}

// ------- contact -------

.contact {
  width: 100%;
  margin-top: 7rem;
  padding: 0 10.9rem;

  &__container {
    display: flex;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  &__left {
    width: 80%;
    padding: 4rem 2rem;

    &-top {
      h2 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 5px;

        span {
          color: $primaryColor;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2.5rem;
    }

    &__bottom > button {
      @include btn();
    }
  }

  &__right {
    position: relative;
    width: 30%;
    object-fit: cover;
    height: 100%;
  }
}

.form {
  &__group {
    position: relative;
    padding: 1rem 0 0;
    width: 100%;
    max-width: 33%;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      padding-bottom: 0.3rem;
      font-weight: 700;
      border-width: 2px;
      border-color: #000000;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    pointer-events: none;
  }

  &__button {
    font-size: 0.9rem;
    color: #ffffff;
    border-radius: 3.5rem;
    border: 1px solid #162850;
    background-color: #162850;
    padding: 1rem 2rem;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #162850;
    }
  }
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 0.85rem;
  cursor: text;
  top: 1rem;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #000;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/// ----- works ----

.works {
  position: relative;
  margin-top: 7rem;
  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2 {
      font-weight: 400;
      font-size: 3rem;
      word-spacing: 0.15rem;
    }
    &--arrows {
      @include arrows();
    }
  }

  &__bottom {
    position: relative;
    .container {
      padding-right: 0;
    }
    .swiper {
      &-slide {
        padding: 1rem 0.75rem;
        margin-right: 1.25rem !important;
      }
    }
    &-item {
      border-radius: 1.5rem;
      padding: 1rem 0.75rem 2rem 0.75rem;
      box-shadow: 0 0.35rem 0.9rem rgba(167, 167, 167, 0.25);
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_item {
          div {
            display: flex;
            margin-top: 0.5rem;
            align-items: center;
            gap: 0.5rem;
            span {
              color: #162850;
              font-size: 1rem;
              font-weight: 500;
            }
            div {
              width: 3rem;
              height: 3rem;
              background: #162850;
              border-radius: 50%;

              svg {
                width: 60%;
                height: 60%;
              }

              @include center();
            }
          }
          span {
            font-size: 1rem;
            font-weight: 400;
            color: rgba(22, 40, 80, 0.5);
          }
        }
      }
      &__title {
        margin-top: 2.3rem;
        h4 {
          font-size: 1.2rem;
          color: #162850;
          font-weight: 500;
        }
        &-line {
          width: 80%;
          height: 1px;
          opacity: 0.5;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          transform: rotate(180deg);
          background: linear-gradient(
            270deg,
            #15294e 0%,
            rgba(131, 151, 188, 0) 100%
          );
        }
      }
      .zoomIcon {
        z-index: 99999;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: rgba(110, 110, 110, 0.37);
        backdrop-filter: blur(7.949999809265137px);
        cursor: pointer;
        opacity: 0;
        transition: all 0.4s ease-in;
        @include center();
      }
      &__coursel {
        width: 100%;
        position: relative;
      }

      &:hover {
        .zoomIcon {
          opacity: 1;
        }
      }
    }
    &--arrows {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      span {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #162850 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        transition: all 0.3s ease;
        font-size: 1.2rem;
        color: #162850;
      }

      span:hover {
        background: #162850;
        color: #fff;
      }
    }
    &-pocket {
      padding: 0 1.75rem;
    }
  }
}

.image-gallery-play-button,
.image-gallery-fullscreen-button {
  display: none;
}

.image-gallery-left-nav svg,
.image-gallery-right-nav svg {
  display: none !important;
  width: 0 !important;
}

.image-gallery-right-nav::after {
  content: "\2192 " !important;
  font-size: 1.2rem !important;
}

.image-gallery-left-nav::after {
  content: "\27F5" !important;
  font-size: 1.2rem !important;
}

.image-gallery-left-nav {
  margin-left: 1rem;
}
.image-gallery-right-nav {
  margin-right: 1rem;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgba(110, 110, 110, 0.27);
  backdrop-filter: blur(2px);
  cursor: pointer;
  z-index: 99999;
  color: white !important;
  @include center();
}
.image-gallery-slides {
}
.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  width: 100%;
  height: 16.75rem;
  border-radius: 1.5rem;
}

.image-gallery-thumbnail {
  display: block;
  border: none;
  cursor: pointer;
  width: 33%;
  &-image {
    width: 100% !important;
    height: 4.8rem !important;
    object-fit: cover;
    border: none;
    border-radius: 0.75rem;
  }
  &.active {
    border: none;
  }
  &:hover {
    border: none;
  }
}
.image-gallery-thumbnails {
  width: 100%;
  padding-top: 1.5rem;
  &-container {
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
    text-align: start !important;
    width: 100%;
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.works_bottom_item_imgGallery--main {
  height: 100%;
  width: 100%;
}

// advantages
.advantages {
  background-color: $primaryColor;
  padding: 4rem 10.9rem;
  margin-top: 8.5rem;
  border-radius: 1.5rem;
  background-image: url("../assets/images/bg/advantages_blueprint.png");
  background-position: left center;
  background-repeat: no-repeat;

  &__top {
    width: 100%;
    @include center();

    h2 {
      font-size: 32px;
      font-weight: 400;
      color: $secondaryColor;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3.5rem;
    gap: 1rem;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: 24%;

      img {
        position: relative;
        display: block;
        width: 100%;
        height: 11.9rem;
        object-fit: cover;
      }

      h4 {
        font-size: 5rem;
        color: $secondaryColor;
        font-weight: 400;
      }

      p {
        color: $secondaryColor;
        margin-bottom: 0.75rem;
        font-size: 1.1rem;
      }

      .pocket {
        width: 100%;
        padding: 1rem 1rem 1rem 0px;
        p {
          color: $secondaryColor;
          font-weight: 300;
          line-height: 120%;
          font-size: 0.8rem;
        }
      }
    }
  }
}

// ------- reviws ---------
.reviews {
  position: relative;
  background: url("../assets/images/bg/reviews_blueprint.png");
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: contain;
  background-size: contain;
  padding-top: 6.5rem;
  margin-top: 1rem;
  .swiper-slide {
    margin-right: 2rem;
    margin-bottom: 4rem;
  }
  &_title {
    margin-bottom: 3rem;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      span {
        color: #162850;
      }
    }
  }
  &_container {
    text-align: start;
  }
  &__item {
    min-height: 16.25rem;
    border-radius: 1.5rem;
    border: 1px solid #b3b3b3;
    background: #fff;
    padding: 2.6rem 1.75rem 3rem 2.75rem;
    transition: 0.3s all;
    &-userImage {
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &-content {
      width: 100%;
      height: 100%;
      h3 {
        color: #162850;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 1.8rem;
      }
      p {
        color: #000;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
    &:hover {
      border-color: #162850;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10.9rem;
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .swiper-pagination {
      top: unset;
      bottom: 0rem;
      &-bullet {
        border: 1px solid #787878;
        opacity: 1;
        width: 0.75rem;
        height: 0.75rem;
        background: transparent;
        padding: 0;
        z-index: 9999999;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          margin-left: 6rem !important;
        }
        span {
          position: relative;
          width: 0.35rem;
          height: 0.35rem;
          background-color: #162850;
          border-radius: 50%;
          opacity: 0;
        }
        &-active {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  &__arrow {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1.5rem;
    position: relative;
    bottom: 0px;
    z-index: 1;
    span {
      width: 2.7rem;
      height: 2.7rem;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #162850 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99999;
      transition: all 0.3s ease;
      font-size: 1.2rem;
      color: #162850;
      &:hover {
        background: #162850;
        color: #fff;
      }
    }
  }
}
// stocks

.stocks {
  margin-top: 7.5rem;
  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &--arrows {
      @include arrows();
    }
    h1 {
      font-weight: 400;
      font-size: 3rem;
    }
  }
  &_bottom {
    position: relative;
    .container {
      padding: 0 8.9rem;
    }
    .swiper {
      &-slide {
        padding: 2rem 1rem;
      }
    }
    &--item {
      border-radius: 2.1rem;
      background: #fff;
      padding: 0.65rem;
      box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        height: 21.5rem;
        object-fit: cover;
        border-radius: 1.5rem;
        margin-bottom: 1rem;
      }

      &__date {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 0.6rem;
        p {
          color: #162850;
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
      &__text {
        padding: 0 1.1rem;
        padding-bottom: 2.1rem;
      }

      &__text p {
        color: #162850;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}

.faq {
  margin-top: 5.5rem;
  &_top {
    margin-bottom: 4.45rem;
    h3 {
      font-size: 3rem;
      font-weight: 400;
    }
  }
  &_bottom {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    transition: 0.3s all;
    &-column {
      width: 49%;
    }
    &--item {
      transition: 0.3s all;
      margin-bottom: 1.5rem;
      &_top {
        background: #f8f8f8;
        width: 100%;
        padding: 1rem 1.2rem;
        padding-left: 1.85rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2.5rem;
        cursor: pointer;
        P {
          font-size: 1.1rem;
        }
        span {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background: white;
          transition: all 0.3s ease;
          cursor: pointer;
          @include center();
          &.active_collaps {
            background: #162850;
          }
        }
      }
      &_body {
        padding: 1.5rem 1.35rem 1.9rem 1.35rem;
        height: 0;
        overflow: hidden;
        opacity: 1;
        font-size: 1.1rem;
        transition: all 0.5s ease;
        background-color: #f8f8f8;
        margin-top: 1rem;
        border-radius: 1.5rem;
        div {
          position: relative;
          min-height: fit-content;
        }
        &.false {
          margin-top: 0;
          padding: 0;
        }
      }

      &_body.body_active {
        height: auto;
        opacity: 1;
      }
    }
  }
}

// footer

.footer {
  padding: 5rem 10.9rem 7.1rem 10.9rem;
  background: #162850;
  background-image: url(../assets/images/contact/contact-bg.png);
  background-position: center left;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin-top: 7rem;
  justify-content: space-between;

  &__number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.1rem;

    &-icon {
      color: $secondaryColor;
      font-size: 1.1rem;
    }

    span {
      color: #ffffff;
      font-size: 1.2rem;
    }
  }

  &__left {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    button {
      background: white;
      color: #162850;
      font-size: 0.9rem;
      font-weight: 500;
      border-radius: 3.5rem;
      padding: 0.7rem 2rem;
      cursor: pointer;
      transition: 0.3s all;
      border: 1px solid #ffffff;

      &:hover {
        background-color: #162850;
        color: #ffffff;
      }
    }
  }

  &__right {
    display: flex;
    width: 80%;
    padding-right: 8rem;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-direction: column;
      max-width: 20%;
      gap: 1rem;

      li {
        a {
          color: #d7d2d2;
          font-weight: 300;
          line-height: 23px;
          opacity: 0.8;
          font-size: 1.1rem;
          transition: all 0.5s ease-in-out;

          &:hover {
            opacity: 1;
            color: white;
          }
        }
      }
    }

    button {
      display: none;
    }

    &-columns {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 5.2rem;
    }

    &-address {
      color: white;
      display: flex;
      font-weight: 300;
      font-size: 0.9rem;
      align-items: center;
      gap: 10px;
    }

    &-icons {
      margin-top: 1.2rem;
      display: flex;
      gap: 0.5rem;

      .telegramIcon,
      .instagramIcon,
      .facebookicon {
        background: white;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        transition: all 0.3s ease;
        @include center();

        &_icon {
          color: $primaryColor;
          opacity: 0.5;
          display: block;
          width: 100%;
          max-width: 1.2rem;
          height: auto;
        }

        &:hover {
          .telegramIcon,
          .instagramIcon,
          .facebookicon {
            &_icon {
              color: $primaryColor;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__bottom {
    padding: 1.5rem 10.9rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: #000;
    }
  }
}

//  zoom modal

.zoomModal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(22, 40, 80, 0.7);
  z-index: 999999;
  @include center();
}

.zoomModal {
  background: white;
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  width: 40rem;
  position: relative;

  &-close {
    position: absolute;
    right: 5%;
    cursor: pointer;
    z-index: 99999;
  }

  &-image_wrapper {
    position: relative;
    box-sizing: content-box;

    &_img {
      margin-top: 2rem;
      height: auto;
      width: 100%;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
        transition: 0.3s all;
      }
    }

    &_thumbs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      gap: 14px;

      img {
        width: 5rem;
        height: 2.5rem;
        object-fit: cover;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s all;
      }

      img.active_item {
        filter: grayscale(100%);
      }
    }
  }

  &_tools {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    z-index: 99999;
    gap: 20px;

    button {
      cursor: pointer;
      font-size: 1rem;
    }
  }
}

//  videoSection

.videoSection {
  position: fixed;
  bottom: 3.9rem;
  left: 2.35rem;
  z-index: 999999;
  width: 7rem;
  height: 10rem;
  border-radius: 0.95rem;
  border: 2px solid #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s all;
  overflow: hidden;
  background-color: #fff;
  &_controls {
    position: absolute;
    top: 0;
    z-index: 99999999;
    width: 100%;
    text-align: end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 1rem;
    span {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: white;
      @include center();
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.95rem;
    position: absolute;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.2);
    }
  }

  &:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
    border: 3px solid white;
  }

  &.active_videoSection {
    width: 16rem;
    height: 27rem;
    transition: 0.3s all;
    transform: scale(1);
    video:hover {
      transform: scale(1);
    }
  }
}

/* _____________MEDIA QUERY__________ */

@import "media";
